@tailwind base;
@tailwind components;
@tailwind utilities;

/* Codemirror Start */
.cm-editor {
    height: 100%;
}

.cm-scroller .cm-selectionLayer .cm-selectionBackground {
    @apply bg-blue-300;
}

/* Codemirror End */

.thin-scrollbar {
    scrollbar-width: thin;
}

.mono {
    font-family: 'IBM Plex Mono', monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
